@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Macondo&display=swap');

body {
    color: gold;
    background-color:darkblue;
    text-align: center;
    font-size: 200%;
    font-family: 'Koulen', 'sans-serif';
}

p {
    margin: 0;
    padding: 0;
}
button a{
    font-size: 400%;
    text-decoration: none;
    background-color: black;
    color: white;
    font-family: 'Koulen', 'sans-serif';
}

button:hover {
    background-color: #6e70a1;
}

@media screen and (max-width: 1800px) {
        
    button a{
        font-size: 190%;
    }
    
}
@media screen and (max-width: 1000px) {
    body {
        font-size: 190%;
        
    }

}
@media screen and (max-width: 900px) {
    body {
        font-size: 180%;
        
    }

    button a{
        font-size: 180%;
    }
}
@media screen and (max-width: 760px) {
    body {
        font-size: 170%;
        
    }

    button a{
        font-size: 170%;
    }
}

@media screen and (max-width: 650px) {
    body {
        font-size: 140%;
        
    }

    button a{
        font-size: 140%;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: 130%;
        
    }

    button a{
        font-size: 130%;
    }

    
}

@media screen and (max-width: 350px) {
    body {
        font-size: 90%;
    }

    button a{
        font-size:90%;
    }
}



