@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Macondo&display=swap');

/*Styles for body, paragraphs and buttons*/

body {
    color: #ffd700;
    background-color: #000000;
    text-align: center;
    font-size: 2rem;
    font-family: 'Macondo', 'sans-serif';
}

p {  
    margin: 0;
    padding: 0;
}

button {
    font-size: 300%;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Koulen', 'sans-serif';
}

button:hover {
    background-color: #6e70a1;
}

/*Media Queries*/

@media screen and (max-width: 1800px) {
    button {
        font-size: 190%;
    }
}

@media screen and (max-width: 1000px) {
    body {
        font-size: 190%;
    }
}

@media screen and (max-width: 900px) {
    body {
        font-size: 180%;
    }

    button {
        font-size: 180%;
    }
}

@media screen and (max-width: 760px) {
    body {
        font-size: 170%;
    }

    button {
        font-size: 170%;
    }
}

@media screen and (max-width: 650px) {
    body {
        font-size: 140%;
    }

    button {
        font-size: 140%;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: 130%;
    }

    button {
        font-size: 130%;
    }
}

@media screen and (max-width: 350px) {
    body {
        font-size: 90%;
    }

    button {
        font-size: 90%;
    }
}