@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Macondo&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
    font-family: 'Macondo', 'sans-serif';
}

.main-heading {
    background-color: black;
    height: 5vh;
    width: 100%;
    position: relative;
    font-family: 'Koulen', 'sans-serif';
}

.main-heading h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: gold;
    text-decoration: underline;
    font-size: 200%;
}

.right {
    float: right;
    width: 25%;
    background-color: rgb(88, 87, 87);
    height: 92vh;
    border-top: 1px solid gold;
    border-bottom: 1px solid gold;
    text-align: center;
}

.left {
    width: 25%;
    background-color: rgb(88, 87, 87);
    float: left;
    height: 92vh;
    border-top: 1px solid gold;
    border-bottom: 1px solid gold;
    text-align: center;
}

.middle {
    width: 50%;
    background-color: darkblue;
    margin: 0 auto;
    height: 92vh;
    border-top: 1px solid gold;
    border-bottom: 1px solid gold;
}


.unit {
    height: 25%;
    color: gold;
    border-top: 1px solid gold;
    padding-left:5px;
    padding-right: 5px;
    
}

.unit p {
    margin: 0;
    padding-top: 10px;
}

.unit button {
    font-family: 'Koulen', 'sans-serif';
    background-color: black;
    color: gold;
    font-size: 200%;
    height: 15vh;
    background-image: url('../images/skull.png');
    background-blend-mode: darken;
    background-size: 10vh 10vw;
    background-position: center center;

    width: 15vw;
}

.unit button:hover {
    background-color: #6e70a1;
}

.unit img {
    height: 100px;
    image-resolution: 100px 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    overflow: hidden;
    display: block;
    padding-top:25px;
    background-color: grey;
}

#peasant-div {
    border-top: none;
    
}

#soldier-div {
}


#paladin-div {
   
}

#sword-div {
    
}

.current-score {
    height: 100%;
    color: gold;
}

.current-score hr {
    border: 1px solid gold;
}

.click-spacer {
    height: 30%;
    width: 100%;
    padding-top: 20px;
}

.click-spacer img {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
}

.click-button-div {
    text-align: center;
    height: 30%;
}

.click-button {
    margin: 20px;
    font-size: 200%;
    border-radius: 50%;
    color: white;
    background-color: black;
    padding: 25px 50px 25px 50px;
    font-family: 'Koulen', 'sans-serif';
}

.click-button:hover {
    color: white;
    background-color: #6e70a1;
}

.big-text {
    font-size: 300%;
}

a {
    text-decoration: underline;
    color: gold;
}

.intro-text {
    font-size: 400%;
    padding-top: 20%;
}