@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Macondo&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #000000;
    font-family: 'Koulen', 'sans-serif';
}

.main-heading {
    background-color: #000000;
    height: 5vh;
    width: 100%;
    position: relative;
}

.main-heading h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ffd700;
    text-decoration: underline;
    font-size: 150%;
}

.right {
    float: right;
    width: 25%;
    background-color: rgb(88, 87, 87);
    height: 92vh;
    border-top: 1px solid #ffd700;
    border-bottom: 1px solid #ffd700;
    text-align: center;
}

.left {
    width: 25%;
    background-color: rgb(88, 87, 87);
    float: left;
    height: 92vh;
    border-top: 1px solid #ffd700;
    border-bottom: 1px solid #ffd700;
    text-align: center;
}

.middle {
    width: 50%;
    background-color: darkblue;
    margin: 0 auto;
    height: 92vh;
    border-top: 1px solid #ffd700;
    border-bottom: 1px solid #ffd700;
}


.unit {
    height: 23vh;
    color: #ffd700;
    border-top: 1px solid #ffd700;
    padding-left:5px;
    padding-right: 5px;
    
}

.unit p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.unit button {
    font-family: 'Koulen', 'sans-serif';
    background-color: #000000;
    color: #ffd700;
    border: 1px solid #ffd700;
    font-size: 150%;
    height: 60%;
    background-repeat: no-repeat;
    background-blend-mode:color-burn;
    background-size: 100%;
    background-position: center center;
    float:left;

    width: 15vw;
}

.unit-description {
    font-family: 'Macondo', 'sans-serif';
    font-size: 1.6vh;
}

#peasant-button {
    background-image: url('../images/peasant.png');
    background-size: 60%;
    overflow: hidden;
}

#soldier-button {
    background-image: url('../images/soldier.png');
}

#paladin-button {
    background-image: url('../images/paladin.png');
}

#upgrade-button {
    background-image: url('../images/sword.jpg');
    
}

.unit button:hover {
    background-color: #6e70a1;
}



#peasant-div {
    border-top: none;
    
}

.price-text {
    font-size: 3vh;
    font-weight: bold;
    position:relative;
    top: 4vh;
    text-align:end;
}

.current-score {
    height: 90%;
    color: #ffd700;
}

.current-score hr {
    border: 1px solid #ffd700;
}

.click-spacer {
    height: 30%;
    width: 100%;
    position: relative;
}

.click-spacer img {
    position: relative;
    top: 50px;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.click-button-div {
    text-align: center;
    height: 30%;
}

.click-button {
    height: min-content;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 200%;
    border:2px solid #ffffff;
    color: white;
    background-color: black;
    font-family: 'Koulen', 'sans-serif';
}

.click-button:hover {
    color: #ffffff;
    background-color: #6e70a1;
}

.big-text {
    font-size: 100%; 
}

.stats-div {
    font-size: 180%;
    height: 13%;
    overflow: hidden;
    vertical-align: middle;
    border-bottom: 1px solid #ffd700;
}

.link-div button{
    font-family: 'Koulen', 'sans-serif';
    width: 100%;
    font-size: inherit;
    background-color: #000000;
    border: 1px solid #ffd700;
    color: white;
}

a {
    text-decoration: underline;
    color: #ffd700;
}

.intro-text {
    font-size: 3vh;
    padding-top: 20%;
}

/*Media Queries*/

@media screen and (max-width: 1800px) {
    .stats-div {
        font-size: 140%;
    }
}


@media screen and (max-width: 1300px) {
    .stats-div {
        font-size: 120%;
    }

}

@media screen and (max-width: 1050px) {
    .middle {
        width: 33%;
    }

    .right {
        width: 33%;
    }

    .left {
        width: 33%;
    }

}



@media screen and (max-width: 950px) {

}

@media screen and (max-width: 760px) {

    .unit button {
        font-size: 90%;
        height: 13vh;
    }


    .price-text {
        font-size: 90%;
    }
}

@media screen and (max-width: 610px) {
    .stats-div {
        font-size: 100%;
    }

}

@media screen and (max-width: 520px) {
    .click-button {
        font-size: 150%;
    }

    .big-text {
        font-size: 100%;
    }

    .intro-text {
        font-size: 90%;
    }

    .unit button {
        font-size: 80%;
        height: 12vh;
    }

    .price-text {
        font-size: 80%;
    }

}


@media screen and (max-width: 545px) {

    .unit-description {
        display: none;
    }
    .unit button {
        float: none;
        width: 100%;
        font-size: 100%;
        Margin-top: 5px;
    }

    .price-text {
        display: block;
        float:none;
        text-align: center;
        top: 0;
        font-size: 100%;
    } 
    

}

@media screen and (max-width: 410px) {

}

@media screen and (max-width: 370px) {
    .click-button {
        font-size: 100%;
    }

   .big-text {
        font-size: 80%;
   }

   #upgrade-button {
       font-size: 70%;
   }

   .main-heading h1 {
       font-size: 120%;
   }
}

@media screen and (max-width: 300px) {
    .big-text {
        font-size: 75%;
    }

    .link-div button {
        font-size: 70%;
    }
}

@media screen and (min-height: 1000px) {
    .unit-description {
        font-size: 80%;
    }
}





