@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Macondo&display=swap');

/*Selector for the entire body to get rid of box model extras and set the fonts and color of background*/

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #000000;
    font-family: 'Macondo', 'sans-serif';
}

/*Selector for the title banner*/

.main-heading {
    background-color: #000000;
    height: 5vh;
    width: 100%;
    position: relative;
}

/*Selector for title banner heading*/
/* Code from W3schools */
.main-heading h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ffd700;
    text-decoration: underline;
    font-size: 150%;
}

/*Selector for all elements on right third of page*/

.right {
    float: right;
    width: 25%;
    background-color: #585757;
    height: 92vh;
    border-top: 1px solid #ffd700;
    border-bottom: 1px solid #ffd700;
    text-align: center;
}

/*Selector for all divs containing stats*/

.stats-div {
    font-size: 180%;
    height: 13%;
    overflow: hidden;
    vertical-align: middle;
    border-bottom: 1px solid #ffd700;
}

/*Selector for the button containing link back to index.html*/

.link-div button{
    font-family: 'Macondo', 'sans-serif';
    padding: 10px;
    width: 50%;
    font-size: inherit;
    background-color: #000000;
    border: 1px solid #ffd700;
    color: white;
}

.link-div button:hover{
    background-color: #6e70a1;
}

/*Selector for current score area*/

.current-score {
    height: 90%;
    color: #ffd700;
}

/*Selector for line rule in current score area*/

.current-score hr {
    border: 1px solid #ffd700;
}


/*Selector for all elements on left third of page*/

.left {
    width: 25%;
    background-color: #585757;
    float: left;
    height: 92vh;
    border-top: 1px solid #ffd700;
    border-bottom: 1px solid #ffd700;
    text-align: center;
}

/*Selector for all unit and upgrade divs on left-hand side*/

.unit {
    height: 23vh;
    color: #ffd700;
    border-top: 1px solid #ffd700;
    padding-left:5px;
    padding-right: 5px;
}

/*Selector for all paragraph text in unit divs*/

.unit p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Selector for all buttons in unit divs*/

.unit button {
    font-family: 'Macondo', 'sans-serif';
    background-color: #000000;
    color: #ffd700;
    border: 1px solid #ffd700;
    font-size: 150%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-blend-mode:color-burn;
    background-position: center center;
    float:left;
    width: 15vw;
}

/*Selector for all descriptions under unit divs*/

.unit-description {
    font-family: 'Macondo', 'sans-serif';
    font-size: 1.6vh;
}

/*id-selectors to add images to the background of buttons*/

#peasant-button {
    background-image: url('../images/peasant.png');
}

#soldier-button {
    background-image: url('../images/soldier.png');
}

#paladin-button {
    background-image: url('../images/paladin.png');
}

#upgrade-button {
    background-image: url('../images/sword.png');
}

/*Selector to display the background image and change color when the button is hovered over*/

.unit button:hover {
    background-color: #6e70a1;
}

/*id-selector to not have a border for one unit div to make it look cleaner*/

#peasant-div {
    border-top: none;
}

/*Selector for all price texts on the right hand side*/
.price-text {
    font-size: 3vh;
    font-weight: bold;
    position:relative;
    top: 4vh;
    text-align:end;
}

/*Selector for all central elements on page*/

.middle {
    width: 50%;
    background-color: #000000;
    margin: 0 auto;
    height: 92vh;
    border-top: 1px solid #ffd700;
    border-bottom: 1px solid #ffd700;
}

/*Selector for div holding images*/

.click-spacer {
    height: 30%;
    width: 100%;
    position: relative;
}

/*Selector for images in click-spacer div*/

.click-spacer img {
    position: relative;
    margin-top: 5px;
    top: 50px;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

/*Selector for div of the main button*/

.click-button-div {
    text-align: center;
    height: 30%;
}

/*Selector for main button itself*/

.click-button {
    height: max-content;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 200%;
    border:2px solid #ffffff;
    color: white;
    background-color: black;
    font-family: 'Koulen', 'sans-serif';
}

/*Selector for when main button is hovered over*/

.click-button:hover {
    color: #ffffff;
    background-color: #6e70a1;
}

/*Media Queries*/

/*Media query for devices below 1800px width*/

@media screen and (max-width: 1800px) {
    .stats-div {
        font-size: 140%;
    }
}

/*Media query for devices below 1300px width*/

@media screen and (max-width: 1300px) {
    .stats-div {
        font-size: 120%;
    }
}

/*Media query for devices below 1050px width
Changes widths of page divisions*/

@media screen and (max-width: 1050px) {
    .middle {
        width: 33%;
    }
    .right {
        width: 33%;
    }
    .left {
        width: 33%;
    }
}

/*Media query for devices below 760px width*/

@media screen and (max-width: 760px) {
    .unit button {
        font-size: 90%;
        height: 13vh;
    }
    .price-text {
        font-size: 90%;
    }
}

/*Media query for devices below 610px width*/

@media screen and (max-width: 610px) {
    .stats-div {
        font-size: 100%;
    }
}

/*Media query for devices below 545px width*/

@media screen and (max-width: 545px) {
    .link-div button {
        width: 100%;
    }
    .unit-description {
        display: none;
    }
    .unit button {
        float: none;
        width: 100%;
        font-size: 100%;
        Margin-top: 5px;
    }
    .price-text {
        display: block;
        float:none;
        text-align: center;
        top: 0;
        font-size: 100%;
    } 
}

/*Media query for devices below 520px width*/

@media screen and (max-width: 520px) {
    .click-button {
        font-size: 150%;
    }
    .intro-text {
        font-size: 90%;
    }
    .unit button {
        font-size: 80%;
        height: 12vh;
    }
    .price-text {
        font-size: 80%;
    }
}

/*Media query for devices below 370px width*/

@media screen and (max-width: 370px) {
    .click-button {
        font-size: 100%;
    }
   .stats-div {
        font-size: 80%;
   }
   #upgrade-button {
       font-size: 70%;
   }
   .main-heading h1 {
       font-size: 120%;
   }
}

/*Media query for devices below 300px width*/

@media screen and (max-width: 300px) {
    .stats-div {
        font-size: 75%;
    }
    .link-div button {
        font-size: 70%;
    }
    .main-heading h1 {
        font-size: 100%;
    }
}

/*Media query for devices above 750px height*/

@media screen and (min-height: 750px) {
    .price-text {
        font-size: 120%;
    }
}

/*Media query for devices above 1000px height*/

@media screen and (min-height: 1000px) {
    .unit-description {
        font-size: 80%;
    }  
}





