body {
    margin: 0;
    padding: 0;
    border: 0;
}

.main-heading {
    background-color: black;
    height: 10vh;
    width: 100%;
    position: relative;
}

.main-heading h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: gold;
    text-decoration: underline;
    font-size: 200%;
}

.right {
    float: right;
    width: 25%;
    background-color: rgb(88, 87, 87);
    height: 90vh;
    border-bottom: 1px solid gold;
    border-top: 1px solid gold;
}

.left {
    width: 25%;
    background-color: rgb(88, 87, 87);
    float: left;
    height: 90vh;
    border-bottom: 1px solid gold;
    border-top: 1px solid gold;
}

.middle {
    width: 50%;
    background-color: darkblue;
    margin: 0 auto;
    height: 90vh;
    border-bottom: 1px solid gold;
    border-top: 1px solid gold;
}


.unit {
    height: 22.5%;
    color: gold;
    border-top: 1px solid gold;
}

.unit img {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    overflow: hidden;
}

.current-score {
    height: 100%;
    color: gold;
}

.click-spacer {
    height: 30%;
    width: 100%;
    padding-top: 20px;
}

.click-spacer img {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
}

.click-button-div {
    text-align: center;
    height: 30%;
}

.click-button {
    margin: 20px;
    font-size: 300%;
    border-radius: 50px;
    color: white;
    background-color: black;
    padding: 25px;
}

.click-button:hover {
    color: white;
    background-color: #6e70a1;
}

.big-text {
    font-size: 300%;
}
